<link rel="stylesheet" href="/css/dish.css">

<div class="col-3">
    <div class="card card-dish">
        <div class="card-body">
            <div class="container img">
                <img src="/img/{{item}}.jpeg" alt="" class="card-img-top">
            </div>
             
            <h2 class="card-title" style="font-size: 20px">
                {{item}}
            </h2>
            <p class="card-category" style="font-size: 15px; font-style:italic">{{category}}</p>
            <span id="price{{id}}" class="card-subtitle" style="font-size: 15px;"> Php {{price}} </span>
            
            <!-- Plus-minus counter with Bootstrap input group -->
            <div class="input-group mt-3">
                <div class="input-group-prepend">
                    <button id="{{id}}Minus" class="btn btn-outline-secondary" type="button" id="minusBtn">-</button>
                </div>
                <input type="number" class="form-control text-center" id="quantityInput{{id}}" value="0" readonly>
                <div class="input-group-append">
                    <button id="{{id}}Plus" class="btn btn-outline-secondary" type="button" id="plusBtn">+</button>
                </div>
            </div>
            
            <!-- Add to Cart button -->
            <div class="d-flex justify-content-center mt-3 buttons">
                <button id="{{dishID}}Card" data-category="{{category}}" class="btn btn-primary"> Add to Cart </button>
                <button id="{{id}}Remove" class="btn btn-secondary">Remove</button>
            </div>
             <div class="d-flex justify-content-center mt-3 remove-button">
                
             </div> 
        </div>
    </div>
</div>